/* Shamelessly stolen from the github for testing */

.warning-header {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 15px;
    color: #F5B14D;
}

.warning {
    font-size: 15px;
    padding: 20px;
    background-color: #3D341B;
    color: #D3CFD8;
    border-radius: 10px;
}

.note-header {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 15px;
    color: #939499;
}

.note {
    font-size: 15px;
    padding: 20px;
    background-color: #272A2F;
    color: #D3CFD8;
    border-radius: 10px;
}

.tips-header {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 15px;
    color: #3DD68C;
}

.tips {
    font-size: 15px;
    padding: 20px;
    background-color: #1A352F;
    color: #D3CFD8;
    border-radius: 10px;
}

.caution-header {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 15px;
    color: #EF6C7E;
}

.caution {
    font-size: 15px;
    padding: 20px;
    background-color: #3E2129;
    color: #D3CFD8;
    border-radius: 10px;
}

.important-header {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 15px;
    color: #C8ABFA;
}

.important {
    font-size: 15px;
    padding: 20px;
    background-color: #312B40;
    color: #D3CFD8;
    border-radius: 10px;
}

.easy {
    font-size: 16px;
    padding: 20px;
    background-color: #162A26;
    color: #D3CFD8;
    border-radius: 10px;
}

.medium {
    font-size: 16px;
    padding: 20px;
    background-color: #2E2817;
    color: #D3CFD8;
    border-radius: 10px;
}

.hard {
    font-size: 16px;
    padding: 20px;
    background-color: #2B191E;
    color: #D3CFD8;
    border-radius: 10px;
}

summary {
    font-size: 17.5px;
}

video {
    border: 3px solid #ffffff50;
    border-radius: 10px;
}

iframe {
    border: 3px solid #ffffff50;
    border-radius: 10px;
}

.image {
    border: 3px solid #ffffff50;
    border-radius: 10px;
}

.gs-table {
    display: flex;
    justify-content: center;
}

.gs-table-tr {
    text-align: center; 
    font-size: 11px; 
    font-weight: bold;
    background-color: #232428;
}

.hidden-header {
    margin-bottom: -37.5px;
    margin-top: -37.5px;
    font-size: -50px;
    color: rgba(255, 255, 255, 0)
}

.gap-header {
    font-size: 27.5px;
    margin-bottom: -10px;
    text-align: center;
}

.vp-hero-slide-down-button {
    visibility: hidden;
}

.vp-project-home {
    margin-top: -31.6125px;
}